# Rust (Crucial for Microservices/Monorepos)
**/target/
**/*.rs.bk
Cargo.lock

# Version Control & IDEs
.git/
.github/
.idea/
.vscode/

# Environment Variables (Security)
**/.env
**/.env.*

# OS & Temp Files
**/.DS_Store
**/Thumbs.db
