services:
  timescaledb:
    image: timescale/timescaledb:latest-pg15
    container_name: timescaledb
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pussyli$%ager
      POSTGRES_DB: analytics_service
    volumes:
      - timescale-data:/var/lib/postgresql/data

volumes:
  timescale-data:
