version: "3.9"

services:
  timescaledb:
    image: timescale/timescaledb-ha:pg14-latest
    container_name: timescaledb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pussyli$%ager
      POSTGRES_DB: analytics_service
    volumes:
      - timescale-data:/var/lib/postgresql/data

volumes:
  timescale-data:
